# Python basics

Download Anaconda at [https://www.anaconda.com/download/](https://www.anaconda.com/download/)

Integrated development environment (IDE) normally consists of a text editor, shell, and debugger. Some popular IDES and text editors:
- Spyder (Comes with Anaconda)
- [PyCharm](https://www.jetbrains.com/pycharm/download/#section=windows)
- Jupyter (Comes with Anaconda)
- [Visual Studio](https://visualstudio.microsoft.com/downloads/)
- [Sublime Text (text editor)](https://www.sublimetext.com/3)
- [Atom (text editor)](https://atom.io/)

Great Python Resources:
- [MIT Introduction to Computer Science and Programming Using Python](https://courses.edx.org/courses/MITx/6.00.1-x/1T2014/course/)
- [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/)
- [Python Crash Course](https://www.amazon.com/Python-Crash-Course-Hands-Project-Based/dp/1593276036/ref=sr_1_3?ie=UTF8&qid=1548439238&sr=8-3&keywords=python)
- [Python Docs](https://docs.python.org/3/)

What is Python?

"Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms."

"Python is an interpreted language, which can save you considerable time during program development because no compilation and linking is necessary."

A computer can do one of two things: 
1. make calculations
2. store data

#### 1. Make Calculations


| Operator | Operation                  |
|----------|---------------------------:|
| *        | Multiplication             |
| +        | Addition                   |
| -        | Subtraction                |
| /        | Division                   |
| //       | Integer (floored) Division |
| **       | Exponent                   |
| %        | Modulus (remainder)        |

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

#### 2. Store Data

You can use the equal sign (=) to assign a value to a variable. You can then use the variable in other calculations.

Why use variables?
- can reuse variables instead of values
- easier to change code later

In [4]:
width = 20
height = 5 * 9
area = width * height
area

900

In [5]:
height = 10
area

900

You can use _ to continue calculations. It will take the last printed expression

In [6]:
_ + 5

905

When you assign a variable, the expression on the right side is evaluated, THEN it is assigned to the variable.

In [7]:
i = 1
i = i + 1
i

2

### Data Types

We will look at 2 other basic data types (we have already looked at integers):
- Float
- String

In [45]:
type(3)

int

In [46]:
type(3.5)

float

In [47]:
type('word')

str

#### Float

In [8]:
2.

2.0

In [9]:
2.5 + 2

4.5

In [10]:
2/4

0.5

#### String

can be expressed using single quotes ('...') or double quotes ("..."). In an interactive interpreter, output is enclosed in quotes. 

You can use the print() function to make the string a bit more readable. It is an immutable structure.

In [11]:
'spam eggs'

'spam eggs'

In [12]:
s = 'spam eggs'
s

'spam eggs'

In [13]:
print('Hello world!')

Hello world!

Strings can be indexed (subscripted), with the first character having index 0.

In [14]:
#indexing with strings
s = 'abcd'
print(s[0])
print(s[1])
print(s[-2])
print(s[-1])

a
b
c
d

In [15]:
#can't change character using indexing as strings are immutable
s[1] = 'g'

TypeError: 'str' object does not support item assignment

Slicing allows you to obtain substring

In [16]:
#you can also slice 
print(s[0:3]) #characters from position 0 (included) to 3 (excluded)
print(s[-2:]) #characters from second-last position (included) to end

abc
cd

In [17]:
#string concat
'here is a sentence.' + ' here is another sentence.'

'here is a sentence. here is another sentence.'

In [48]:
'google'[:3]+'amazon'[-3:]

'goozon'

### List

Written as a list of comma-seperated values between square brackets. List can contain different data types, but usually just contain one type. It is a mutable structure.

In [18]:
squares = [1, 4, 9, 16, 25]
odd_list = [1,2,'banana',10]

Lists also support indexing and slicing

In [19]:
print(squares[0])
print(squares[2:])

1
[9, 16, 25]

In [20]:
#can change item in list using indexing or slicing, as lists are mutable
squares[0] = 0
print(squares)
squares[:2] = [99,100]
print(squares)

[0, 4, 9, 16, 25]
[99, 100, 9, 16, 25]

In [21]:
#list concat
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [22]:
len(squares)

5

In [23]:
squares.append(36)
squares

[99, 100, 9, 16, 25, 36]

## Comparison Operators and Booleans

In [24]:
1 < 2

True

In [25]:
3 >= 5

False

In [26]:
6 == 7

False

In [27]:
10 != 9

True

In [28]:
10 > 9 and 3 != 2

True

In [29]:
5 < 4 or 3 == 3

True

## Control Flow

#### if Statements

In [30]:
x = 5
if x > 10:
    print('x is greater than 10')
else:
    print('x is less than or equal to 10')

x is less than or equal to 10

In [31]:
x = 5
if x > 10:
    print('This number is greater than 10')
elif x <= 0:
    print('This number is less than or equal to 0')
elif x == 3 or x == 5:
    print('The number is equal to either 3 or 5')
else:
    print('The number must be between 0 and 10, but is not equal to 3 or 5')

The number is equal to either 3 or 5

#### for Statements

A for statement will iterate over the items in a sequence in the order order they appear. For example:

In [32]:
words = ['cat','window', 'defenestrate']
for w in words:
    print(w)

cat
window
defenestrate

In [33]:
print('printing range(5)')
for i in range(5):
    print(i)
    
print('printing range(2,6)')
for i in range(2,6):
    print(i)

printing range(5)
0
1
2
3
4
printing range(2,6)
2
3
4
5

In [34]:
for i in range(len(words)):
    print(i, words[i])

0 cat
1 window
2 defenestrate

### while

In [35]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [36]:
i = 0
x = 1
while x < 100:
    x = x * 5
    print(x)
    i = i + 1

5
25
125

#### Using break or continue

In [37]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i)
    i = i + 1

0
1
2

In [38]:
i = 0
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

### Functions
We can define our own functions

In [39]:
def multiply_by_3(num):
    return num*3

print(multiply_by_3(2))
print(multiply_by_3(5))
print(multiply_by_3(16))

6
15
48

In [40]:
#dont need args. dont have to return anything either
def print_hello():
    print('hello world')
    
print_hello()

hello world

### Dictionary

In [41]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [42]:
tel['jack']

4098

### Using existing modules

In [43]:
import math

math.sqrt(4)

2.0

In [44]:
from random import randint

randint(1,10)

6

![title](xkcd.png)

### Modules to look into:

Scientific/mathy
- numpy
- pandas
- scipy
- sklearn
- nltk
- statsmodels
- random

Visualization
- Matplotlib
- Seaborn

Miscellaneous
- re (regular expressions)
- os (operating system)
- collections
- itertools